/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #43AFFC;
}
::selection{
  color: #fff;
  background: #43AFFC;
}
.wrapper{
  width: 500px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper .weather-part{
  display: flex;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
    display: none;
  }
.weather-part img{
  max-width: 125px;
}
.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb{
  font-weight: 600;
}
.weather-part .temp .deg{
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location{
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i{
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i{
  color: #5DBBFF;
  font-size: 40px;
}
.column.humidity{
  border-left: 1px solid #ccc;
}
.column .details{
  margin-left: 3px;
}
.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p{
  font-size: 14px;
  margin-top: -6px;
}
.humidity i{
  font-size: 37px;
}
.weather-part .bottom-detail{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
  }
.bottom-detail button{
    outline: none;
    background: transparent;
    color: #43AFFC;
    border: none;
    cursor: pointer;
}
hr{
  width: 100%;
  height: 2px;
}
/*********************** 7 days forecast *****************/


   
   .wrapper .days-weather-part{
    display: none;
    margin: 30px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper.active .days-weather-part{
    display: flex;
  } 
  .days-weather-part .bottom-part{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .bottom-part .col{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
  }
  .col.humidity{
    border-left: 1px solid #ccc;
  }
  .days-weather-part img{
    max-width: 45px;
  }
  .days-weather-part .temp{
    display: flex;
    font-weight: 500;
    font-size: 72px;
  }
  .days-weather-part .temp .numb{
    font-weight: 600;
  }
  .days-weather-part .temp .deg{
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
  }
  .days-weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
  }